<h2 class="subtitle is-uppercase is-italic">{{@country.name}}</h2>

<div class="columns">
  <div class="column">
    <div>
      From :
    </div>
    <div>
      <div class="control has-icons-left">
        <div class="select">
          <select name="city_from" id="city_from"><option value="33">Bruges</option>
<option value="34">Antwerp</option>
<option value="35">Ghent</option>
<option value="36">Mechelen</option>
<option value="37">Brussels</option>
<option value="38">Mons</option>
<option value="39">Namur</option>
<option value="40">Liege</option>
<option value="41">Arlon</option>
<option value="42">Tournai</option></select>
        </div>
        <span class="icon is-left">
          <i class="fas fa-globe"></i>
        </span>
      </div>
    </div>
  </div>
  <div class="column">
    <div>
      To :
    </div>
    <div>
      <div class="control has-icons-left">
        <div class="select">
          <select name="city_to" id="city_to"><option value="33">Bruges</option>
<option value="34">Antwerp</option>
<option value="35">Ghent</option>
<option value="36">Mechelen</option>
<option value="37">Brussels</option>
<option value="38">Mons</option>
<option value="39">Namur</option>
<option value="40">Liege</option>
<option value="41">Arlon</option>
<option value="42">Tournai</option></select>
        </div>
        <span class="icon is-left">
          <i class="fas fa-globe"></i>
        </span>
      </div>
    </div>
  </div>
  <div class="column">
    <div>
      &nbsp;
    </div>
    <div>
      <input type="submit" name="commit" value="Execute" class="button is-link" data-disable-with="Execute">
    </div>
  </div>
</div>
TEST
<ul>
{{#each @country.cities as |city|}}
 <li>{{city.name}}ok</li>
{{/each}}
</ul>
<hr>
<p>
  <LinkTo @route="index" class="button is-link is-light">Choose another country</LinkTo>
</p>