<h2 class="subtitle is-uppercase is-italic">{{@country.name}}</h2>

<div class="columns">
  <div class="column">
    <div>
      From :
    </div>
    <div>
      <Country::SelectCities @direction="city_from" @cities={{@country.cities}} />
    </div>
  </div>
  <div class="column">
    <div>
      To :
    </div>
    <div>
      <Country::SelectCities @direction="city_to" @cities={{@country.cities}} />
    </div>
  </div>
  <div class="column">
    <div>
      &nbsp;
    </div>
    <div>
      <input type="submit" name="commit" value="Execute" class="button is-link" data-disable-with="Execute">
    </div>
  </div>
</div>
<hr>
<p>
  <LinkTo @route="index" class="button is-link is-light">Choose another country</LinkTo>
</p>
