<hr>
<div class="columns">
  <div class="column">
    <p>The shortest distance between {{@start}} and {{@end}} is <b>{{@distance}} km</b></p>
    <p>Path : <span class="is-family-monospace">{{@path}}</span></p>
  </div>
</div>

