<div class="section has-background-bicolor-dark"></div>
<div class="section has-background-bicolor-light"></div>

<section class="section">
  <div class="container">
    <h1 class="title">
      DIJKSTRA
    </h1>
    <p class="subtitle">
      The Shortest Path Finder
    </p>
  {{outlet}}
  </div>
</section>