<div class="section has-background-bicolor-dark"></div>
<div class="section has-background-bicolor-light"></div>

<section class="section">
  <div class="container">

    <h1 class="title">
      DIJKSTRA
    </h1>

    <p class="subtitle">
      The Shortest Path Finder
    </p>

    <p>
      Welcome to Dijkstra's web application, to find the shortest distance between two cities, please select a country from the list below.
    </p>

    <hr>
    {{#each @model as |country|}}
      <Country @country={{country}} />
    {{/each}}

    {{outlet}}

  </div>
</section>